@import './base.css';
*{
  margin: 0;
}
html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  cursor: url('@/assets/cursors/cursor.cur'), auto;
  background-color: white;
  color: black;
}

body #app {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
  /* margin: 0 auto; */
  font-weight: normal;
  height: 100%;
}

a,
.green {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover, .green:hover {
    background-color: #CCF2E5;
    cursor: url('@/assets/cursors/cursor.cur'), auto;
    animation: cursor 0.4s linear infinite;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }
}

@keyframes cursor {
  0%{
    cursor: url('@/assets/cursors/frames/frame1.gif'), auto;
  }
  33.33%{
    cursor: url('@/assets/cursors/frames/frame2.gif'), auto;
  }
  66.66%{
    cursor: url('@/assets/cursors/frames/frame3.gif'), auto;
  }
  100%{
    cursor: url('@/assets/cursors/frames/frame4.gif'), auto;
  }
}